{
    email admin@panlit.com
    
    on_demand_tls {
        interval 2m
        burst 5
    }
}

:{$PORT:8080} {
    reverse_proxy https://panlit.replit.app {
        header_up X-Forwarded-Host {host}
        header_up X-Original-Host {host}
        header_up X-Forwarded-Proto {scheme}
        header_up X-Real-IP {remote_host}
        header_up Host panlit.replit.app
        
        transport http {
            versions 1.1 2
        }
    }
    
    log {
        output stdout
        format json
    }
}
